{% extends 'base.html' %}

{% block title %}1{% endblock %}

{% block content %}
<body>
    <!-- Start Banner Hero -->
    <div id="work_single_banner" class="bg-light w-100">
        <div class="container-fluid text-light d-flex justify-content-center align-items-center border-0 rounded-0 p-0 py-5">
            <div class="banner-content col-lg-8 m-lg-auto text-center py-5 px-3">
                <h1 class="banner-heading h2 pb-5 typo-space-line-center">Благоустройство территории</<h1>
                </h1>
                <h3 class="h4 pb-2 light-300">Создание Прекрасного Пространства: Проект по Благоустройству Территории</h3>
                <p class="banner-footer light-300">
                    Наша компания предоставляет комплексные услуги по благоустройству территории, создавая гармоничные и функциональные пространства, отражающие заботу о комфорте и эстетике окружающей среды.
                </p>
            </div>
        </div>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Work Sigle -->
    <section class="container py-5">

        <div class="row pt-5">
            <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Благоустройство территории</h2>
                <p class="worksingle-footer py-3 light-300">
                    Этапы по благоустройству территории могут включать следующие шаги:
                </p>
                <ul>
                    <li>
                        <strong>Анализ и Планирование:</strong>
                        <p class="worksingle-footer py-1 light-300">Изучение характеристик территории, определение потребностей и целей благоустройства, разработка проекта.</p>
                    </li>
                    
                    <li>
                        <strong>Ландшафтный Дизайн:</strong>
                        <p class="worksingle-footer py-1 light-300">Создание эстетического и функционального дизайна, включая распределение зон, пешеходные и автодорожные пути, зоны отдыха и зеленые насаждения.</p>
                    </li>
                    
                    <li>
                        <strong>Подготовительные Работы:</strong>
                        <p class="worksingle-footer py-1 light-300">Очистка и подготовка территории, выравнивание грунта, удаление мусора.</p>
                    </li>
                    
                    <li>
                        <strong>Устройство Пешеходных Путей и Площадок:</strong>
                        <p class="worksingle-footer py-1 light-300">Строительство тротуаров, аллей, площадок для отдыха, установка скамеек, подсветка и других элементов.</p>
                    </li>

                    <li>
                        <strong>Установка Малых Архитектурных Форм:</strong>
                        <p class="worksingle-footer py-1 light-300">Размещение беседок, скульптур, фонтанов, элементов декора для придания уникальности и художественности.</p>
                    </li>

                    <li>
                        <strong>Озеленение и Устройство Газонов:</strong>
                        <p class="worksingle-footer py-1 light-300">Посадка деревьев, кустарников, цветов, создание газонов для улучшения визуального облика и улучшения экологии.</p>
                    </li>

                    <li>
                        <strong>Монтаж Защитных и Безопасных Элементов:</strong>
                        <p class="worksingle-footer py-1 light-300">Установка оград, перил, антипарковочных столбиков, обеспечивающих безопасность и управление движением.</p>
                    </li>

                    <li>
                        <strong>Системы Водоотведения и Освещения:</strong>
                        <p class="worksingle-footer py-1 light-300">Прокладка систем водоотведения для предотвращения затоплений, а также установка систем освещения для обеспечения безопасности в темное время суток.</p>
                    </li>

                    <li>
                        <strong>Финишные Работы и Контроль Качества:</strong>
                        <p class="worksingle-footer py-1 light-300">Проведение окончательных отделочных работ, контроль качества выполненных работ, устранение недочетов.</p>
                    </li>
                </ul>
            </div>
        </div><!-- End Blog Cover -->



        <div class="row justify-content-center pb-4">
            <div class="col-lg-8">
                <div id="templatemo-slide-link-target" class="card mb-3">
                    <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort1.jpg') }}" alt="Card image cap">
                </div>
                <div class="worksingle-slide-footer row">

                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class='bx bxs-chevron-left bx-sm text-dark'></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-06.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort1.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-05.jpg">
                                            
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort2.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-04.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort3.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-03.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort4.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort5.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort6.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-03.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort7.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-02.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort8.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort9.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-06.jpg">
                                            <img class="img-fluid border rounded" src="{{ url_for('static', filename='img/bort10.jpg') }}" alt="Card image cap">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->

                            
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Start Controls-->
                    <div class="col-1 align-self-center text-end">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class='bx bxs-chevron-right bx-sm text-dark'></i>
                        </a>
                    </div>
                    <!--End Controls-->

                </div>
            </div>
        </div><!-- End Slider -->
    </section>
        

        <section class="bg-secondary">
            <div class="container py-5">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-7 col-12 text-light pt-2">
                        <h3 class="h4 semi-bold-600">Так же смотрите следующие услуги</h3>
                    </div>
                </div>
            </div>
        </section>


        <section class="container py-5">

            <div class="row projects gx-lg-5">
                <a href="{{ url_for('work_single') }}" class="col-sm-6 col-lg-4 text-decoration-none project marketing social business">
                    <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                        <!-- <img class="card-img-top" src="./assets/img/our-work-01.jpg" alt="..."> -->
                        <img class="card-img-top" src="{{ url_for('static', filename='img/our-work-01.jpg') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title light-300 text-dark">Укладка тротуарной плитки</h5>
                            <p class="card-text light-300 text-dark">
                                В процессе укладки плитки наши опытные мастера с особым вниманием подходят к каждому этапу.
                                Вы можете ознакомиться с работами.
                            </p>
                            <span class="text-decoration-none text-primary light-300">
                                Прочитать больше<i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('work_single_4') }}" class="col-sm-6 col-lg-4 text-decoration-none project social business">
                    <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                        <!-- <img class="card-img-top" src="./assets/img/our-work-04.jpg" alt="..."> -->
                        <img class="card-img-top" src="{{ url_for('static', filename='img/our-work-04.jpg') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title light-300 text-dark">Доставка песка и щебня</h5>
                            <p class="card-text light-300 text-dark">
                                Наша компания предоставляет профессиональные услуги по доставке песка и щебня, обеспечивая клиентов надежными материалами для строительства и благоустройства.
                            </p>
                            <span class="text-decoration-none text-primary light-300">
                                Прочитать больше<i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('work_single_2') }}" class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                    <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                        <!-- <img class="card-img-top" src="./assets/img/our-work-02.jpg" alt="..."> -->
                        <img class="card-img-top" src="{{ url_for('static', filename='img/our-work-02.jpg') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title light-300 text-dark">Установка бордюров</h5>
                            <p class="card-text light-300 text-dark">
                                Процесс установки бордюров в наших руках становится неотъемлемым звеном, определяющим структуру и эстетику тротуарного пространства.
                            </p>
                            <span class="text-decoration-none text-primary light-300">
                                Прочитать больше<i class='bx bxs-hand-right ms-1'></i>
                            </span>
                        </div>
                    </div>
                </a>
                
            </div>
        </section>


        <!--<div class="row justify-content-center">
            <div class="col-lg-8 pt-4 pb-4">
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1z--ZRS5x5U" allowfullscreen></iframe>
                </div>
            </div>
        </div> End Video -->

    <!-- End Work Sigle -->


    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- Load jQuery require for Page Script -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function() {
            // Slide
            $('.templatemo-slide-link').click(function() {
                var this_href = $(this).attr('href');
                $('#templatemo-slide-link-target img').attr('src', this_href);
                return false;
            });
            // End Slide
        });
    </script>
    <!-- Templatemo -->
    <script src="{{ url_for('static', filename='js/templatemo.js') }}"></script>
    <!-- Custom -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
{% endblock %}